<ion-header>
  <ion-toolbar color="light">
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>
      Usuário
    </ion-title>
  </ion-toolbar>

<ion-button expand="full" color="light">
<ion-button color="light" routerLink="/home" routerDirection="root">
<ion-icon slot="icon-only" name="Home"></ion-icon>
</ion-button>
<ion-button color="light" routerLink="/list" routerDirection="root">
<ion-icon slot="icon-only" name="list"></ion-icon>
</ion-button>
<ion-button color="light" routerLink="/pop" routerDirection="root">
<ion-icon slot="icon-only" name="flame"></ion-icon>
</ion-button>
<ion-button color="light" routerLink="/cloud" routerDirection="root">
<ion-icon slot="icon-only" name="cloud-done"></ion-icon>
</ion-button>
<ion-button color="light" routerLink="/user" routerDirection="root">
<ion-icon slot="icon-only" name="person"></ion-icon>
</ion-button>
</ion-button>

</ion-header>

<ion-content padding>

</ion-content>
