.welcome-card ion-img {
  max-height: 70vh;
  overflow: hidden;
}

.selec{
  position: relative;
  float: right;

}

// ion-badge .badge{
//   position: static;
//   float: right;
//   padding: 0;
// }
